body {
    margin: 0;
    padding: 0;
}

.main-Container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2.5fr;
    width: 100vw;
    height: 100vh;
}
.main-Container >* {
    /* border: 2px solid black; */
}

.nav-Bar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 0.5fr 3fr 2fr;
    grid-template-columns: 1fr;
    background-color: #494f57;
}

.nav-Bar >* {
    display: grid;
    padding: 15px 10px 10px 20px;
    gap: 20px;
    column-gap: 10px;
    align-items: center;
}

.nav-Options {
    color: white;
    font-size: 20px;
    text-decoration: none; 
}
.nav-Options:hover {
    cursor: click;
    text-decoration: underline;
}

.nav-Top {
    grid-template-columns: 0.3fr 3fr;
    
}
.dash {
    font-size: 30px;
    font-weight: 700;
} 

.dash-Logo {
    height: 50px;
    width: 50px;
}

.nav-Mid {
    grid-template-columns: 0.3fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    padding-top: 40px;
}

.nav-Bot {
    grid-template-columns: 0.3fr 3fr;
    grid-template-rows: repeat(3, 0.2fr);
    padding-top: 40px;
}




.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #6f7984;
    box-shadow: 0 8px 5px #2a2a2a47;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 10px 10px 30px;
    align-items: center;
    gap: 20px;
}

.search-Area {
    display: grid;
    grid-template-columns: 40px auto 40px;
}

.search-Icon {
    width: 30px;
    height: 30px;
}

.search-Icon-div {
    display: flex;
    align-items: center;    
}

.search-Text {
    padding: 0 5px 0 5px;
    border-radius: 15px;
    margin-left: 15px;
}

.top-Right {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.notif-Icon {
    height: 28px;
    width: 28px;
}

.profile-Picture {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.name {
    color: white;
    font-size: 25px;
    font-weight: 800;
    padding-right: 20px;
}


.content-Section {
    grid-area: 2 / 2 / 3 / 3;
}
